spring:
  application:
    name: WeatherMapAPI

  config:
    import: optional:file:Java/WeatherMapAPI/.env[.properties]

  datasource:
    url: ${DB_URL}
    driver-class-name: org.postgresql.Driver
    username: ${DB_USER}
    password: ${DB_PASSWORD}

    hikari:
      maximum-pool-size: 5
      minimum-idle: 1
      data-source-properties:
        prepareThreshold: 0

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

server:
  port: 8081

openweather:
  api:
    key: ${WEATHER_API_KEY}
    base-url: https://api.openweathermap.org/data/3.0/onecall
